:root {
    --bord-rad: 8px;
    --site-blue: #2196F3;
    --site-dark-blue: #208de3;
    --site-black: #222222;
    --site-red: #F44336;
    --site-green: #4CAF50;
}
body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background-color: #f2f2f2;
    color: var(--site-black);
}
.main-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content-wrapper {
    max-width: 1300px;
    width: 100%;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto;
    padding: 18px 0 30px;
}
.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-alert-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
    margin: auto;
}

@media (max-width: 1330px) {
    .content-wrapper {
        max-width: 1100px;
    }
}
@media (max-width: 1120px) {
    .content-wrapper {
        max-width: 960px;
    }
}
@media (max-width: 992px) {
    .content-wrapper {
        max-width: 95%;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}